/Lesson 1
/Lesson 11 Context Manager. Files
/Lesson 2
/Lesson 3
/Lesson 4
/Lesson 5 Function
/Lesson 6 Scope. Tuple
/Lesson 7. Assert List
/Lesson 8. Set. Dictionary
/Lesson 9 Complexity. Algorithms
/Webinar 1
/Webinar 2
/Webinar 3
/Webinar 4